* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lightslategray;
}

.calculator {
  width: 400px;
  margin: 100px auto;
  background-color: rgb(63, 63, 63);
}

.row {
  height: 80px;
  display: flex;
}

.display {
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
}

.size-single {
  width: 100px;
}
.size-double {
  width: 200px;
}
.size-triple {
  width: 300px;
}

button {
  background-color: white;
  border: none;
  font-size: 1.5em;
  color: rgb(58, 58, 58);
}

button:hover {
  background-color: rgb(198, 198, 198);
}

button:active {
  background-color: gray;
}

.operator-button {
  background-color: rgb(233, 151, 63);
  color: white;
}

.operator-button:hover {
    background-color: rgb(182, 116, 45)

}
.operator-button:active {
    background-color: rgb(139, 88, 34)

}

.display-text {
    margin: auto 5px;
}